$button-gradient: .5;

button {
  appearance: none;
  outline: none;
}

.button {
  background-image: linear-gradient(lead-color('button'), lead-color-level('button', -$button-gradient));
  border: 0;
  border-radius: $border-radius;
  color: lead-color('background');
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0 .5rem;
  min-width: 10rem;
  padding: .5rem 2rem;
  text-align: center;
  text-decoration: none;

  &[disabled] {
    background-color: lead-color-level('button', 1);
    cursor: not-allowed;
  }

  &:hover {
    background-image: linear-gradient(lead-color-level('button', $button-gradient), lead-color('button'));
  }

  .fa {
    margin-left: calc(-1.28571429em/2);
    margin-right: .5rem;
  }

  &.is-full-width {
    margin: 0;
    width: 100%;
  }

  &.is-light {
    background-image: linear-gradient(lead-color('menu'), lead-color-level('menu', -$button-gradient));
    border: .1rem solid lead-color-level('menu', -2);
    color: lead-color('foreground');

    &:hover {
      background-color: lead-color-level('menu', -$button-gradient);
    }
  }

  &.is-delete {
    background-image: linear-gradient(lead-color('delete'), lead-color-level('delete', -$button-gradient));
    color: lead-color('background');

    &:hover {
      background-image: linear-gradient(lead-color-level('delete', $button-gradient), lead-color('delete'));
    }
  }

  &.is-abort {
    background-image: linear-gradient(lead-color('abort'), lead-color-level('abort', -$button-gradient));
    color: lead-color('background');
  }

  &.is-large {
    line-height: 4rem;
    padding: 0 4rem;
  }

  &.is-small {
    line-height: 3rem;
    padding: 0 3rem;
  }
}
