.button {
  background-color: lead-color('button');
  color: lead-color('background');
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0 .5rem;
  min-width: 10rem;
  padding: .5rem 2rem;
  text-align: center;
  text-decoration: none;

  &[disabled] {
    background-color: lead-color-level('button', 1);
    cursor: not-allowed;
  }

  &:hover {
    background-color: lead-color-level('button', 1);
  }

  .fa {
    margin-left: calc(-1.28571429em/2);
    margin-right: .5rem;
  }

  &.is-full-width {
    margin: 0;
    width: 100%;
  }

  &.is-light {
    background-color: lead-color('menu');
    border: .1rem solid lead-color-level('menu', -2);
    color: lead-color('foreground');

    &:hover {
      background-color: lead-color-level('menu', -.5);
    }
  }

  &.is-delete {
    background-color: lead-color('delete');
    color: lead-color('background');
  }

  &.is-abort {
    background-color: lead-color('abort');
    color: lead-color('background');
  }

  &.is-large {
    line-height: 4rem;
    padding: 0 4rem;
  }

  &.is-small {
    line-height: 3rem;
    padding: 0 3rem;
  }
}
