$header-height: 7rem;
$menu-width: 26rem;
$border-radius: .3rem;

$screen-sizes: (
  'ty': 50rem,
  'sm': 70rem,
  'md': 90rem,
  'lg': 110rem,
);

$screen-size-ty: 50rem;
$screen-size-sm: 70rem;
$screen-size-md: 90rem;
$screen-size-lg: 110rem;
