$header-height: 7rem;
$menu-width: 26rem;
$border-radius: .3rem;

$screen-sizes: (
  'ty': 50rem,
  'sm': 70rem,
  'md': 90rem,
  'lg': 110rem,
);

$screen-size-ty: 50rem;
$screen-size-sm: 70rem;
$screen-size-md: 90rem;
$screen-size-lg: 110rem;

$z-index-10: 10; // overlay
$z-index-9: 9;   // menu
$z-index-8: 8;   // tooltip
$z-index-7: 7;   // tooltip
$z-index-6: 6;
$z-index-5: 5;
$z-index-4: 4;
$z-index-3: 3;
$z-index-2: 2;
$z-index-1: 1;
