.header {
  $menu-z-index: $z-index-9;
  $header-padding: 2rem;

  align-items: center;
  background-color: lead-color('primary');
  border-bottom: .1rem solid lead-color-level('primary', -2);
  color: lead-color('background');
  display: flex;
  height: $header-height;
  left: 0;
  margin: auto;
  padding: 0 $header-padding;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $menu-z-index;

  h1 {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 200;
    line-height: 6rem;
    vertical-align: middle;
  }

  .header-logo {
    background-image: asset-url('logo.svg');
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    height: $header-height;
    margin-right: 1rem;
    vertical-align: middle;
    width: $header-height;
  }
}
