.u-pull-right {
  float: right;
}

.u-centered {
  text-align: center;
}

.u-item-centered {
  display: block;
  margin: 1rem auto;
}

.u-bordered {
  border: .1rem solid lead-color-level('menu', -2);
  padding: .2rem;
}

.u-max-full-width {
  max-width: 100%;
}

.u-single-line {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.u-text-light {
  color: lead-color-level('background', -3);
}
