input,
textarea {
  border: .1rem lead-color-level('foreground', 6) solid;
  outline: none;

  &.is-large {
    font-size: 1.6rem;
    padding: 1rem;
  }

  &:focus {
    border-color: lead-color-level('primary', 0);
  }
}

label {
  color: lead-color-level('foreground', 3);
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: .3rem;
}
