input,
select,
textarea {
  background: transparent;
  border: 0;
  border-bottom: .1rem lead-color-level('foreground', 6) solid;
  outline: none;
  transition: border-color .5s;

  &.is-large {
    font-size: 1.6rem;
    padding: 1rem 0;
  }

  &:focus {
    border-color: lead-color-level('primary', 0);
  }

  &::placeholder {
    color: lead-color-alpha('foreground', .5);
  }
}

select {
  appearance: none;
  background-image: asset-url('dropdown_arrow.png');
  background-position: 97%;
  background-repeat: no-repeat;
  border-radius: 0;
}

label {
  color: lead-color-level('foreground', 3);
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: .3rem;
  text-transform: uppercase;
}

.row {
  .form-control {
    margin-bottom: 0;
  }
}

.form-control {
  margin: 2rem 0;

  [type='radio'] {
    margin: 0 1rem 0 2rem;
  }

  select {
    font-size: 1.6rem;
    padding: 1rem .5rem;
  }

  [type='email'],
  [type='password'],
  [type='text'],
  select,
  .button {
    margin: 0;
    width: 100%;
  }
}
