* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  // makes it so that 1rem = 10px anywhere in the layout so long as the user
  // has set his default font size to 16px.
  font-size: 62.5%;
}

body {
  background-color: lead-color('background');
  color: lead-color('foreground');
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.7rem;
}
