.alert-box {
  @mixin alert-style($color-name) {
    background-color: lead-color($color-name);
    border-color: lead-color-level($color-name, -2);
  }

  @include alert-style('primary');
  border-style: solid;
  border-width: .1rem;
  font-size: 1.5rem;
  margin: auto;
  max-width: 70rem;
  padding: 1rem 2rem;

  &.is-large {
    max-width: 100rem;
  }

  @each $color-name, $color in $lead-colors {
    &.is-#{$color-name} {
      @include alert-style($color-name);
    }
  }

  &.is-delete {
    color: white;
  }
}
