.lookup {
  $lookup-padding: 2rem;

  margin: 2rem auto 0;
  max-width: 100rem + 2 * $lookup-padding;

  .lookup-new {
    input,
    .button {
      margin-bottom: 1rem;
      width: 100%;
    }

    .button {
      margin: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .lookup-listings {
    font-size: 2rem;
  }

  .lookup-listing-name {
    display: block;
    font-size: 2.3rem;
    font-weight: 200;
    margin-bottom: 1rem;
    padding-left: .5rem;
  }

  .lookup-listing-company {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .lookup-listing-email {
    display: block;
    margin: .5rem 0;
  }

  .lookup-listing {
    background-color: lead-color('menu');
    border: .1rem solid lead-color-level('menu', -2);
    border-radius: $border-radius;
    display: inline-block;
    font-size: 1.5rem;
    height: 28rem;
    margin: 2 * $lookup-padding $lookup-padding 0;
    padding: 3rem;
    position: relative;
    vertical-align: bottom;
    width: calc(100%/2 - (2 * #{$lookup-padding}));

    .lookup-listing-profile-link {
      display: block;
      margin-right: 1rem;
    }

    .lookup-listing-email-link,
    .lookup-listing-profile-link {
      color: lead-color('foreground');
      text-decoration: none;
      transition: color .5s;

      &:hover {
        color: lead-color('primary');
      }
    }

    .fa-fw {
      margin: 0 .2rem;
      width: 2.5rem;
    }

    .lookup-buttons {
      bottom: $lookup-padding;
      display: flex;
      left: $lookup-padding;
      position: absolute;
      right: $lookup-padding;
      text-align: center;
    }

    .lookup-button {
      opacity: 0;
      transition: opacity .4s, color .4s;
    }

    &:hover {
      .lookup-button {
        opacity: .6;

        &:hover {
          color: lead-color('primary');
          opacity: .8;
        }
      }
    }

    .button {
      background: transparent;
      border: 0;
      color: inherit;
      display: block;
      margin-bottom: .5rem;
      width: 100%;
    }

    .lookup-listing-company {
      font-size: 1.4rem;
    }
  }

  .lookup-picture {
    border: .1rem solid lead-color-level('menu', -2);
    border-radius: $border-radius;
    height: 10rem;
    min-width: 10rem;
    width: 10rem;
  }

  .lookup-unknown {
    color: lead-color-level('foreground', 6);
  }
}


@media only screen and (min-width: $screen-size-lg * .625) {
  .lookup {
    .lookup-listing {
      .lookup-listing-profile-link {
        display: inline-block;
      }
    }

    .lookup-picture {
      margin-right: 2rem;
    }

    .lookup-buttons {
      width: auto;

      .lookup-button {
        margin-left: .5rem;
      }

      .lookup-button,
      .button {
        display: inline-block;
      }

      .button {
        margin-bottom: 0;
      }
    }
  }
}
