.pagination {
  margin-top: 2rem;
  text-align: center;

  .pagination-link {
    &[disabled] {
      opacity: .3;
    }
  }

  .pagination-number {
    color: lead-color-level('foreground', 2);
    font-size: 1.6rem;
    margin: 0 2rem;
    text-align: center;
  }
}
