.panel {
  &.panel-dashboard {
    img {
      margin-bottom: 3rem;
      margin-top: 3rem;
    }

    .panel-dashboard-download-container {
      margin-bottom: 5rem;
      margin-top: 5rem;
    }
  }
}
