.panel {
  background-color: lead-color('menu');
  border: .1rem solid lead-color-level('menu', -2);
  border-radius: $border-radius;
  margin: 2rem auto 0;
  max-width: 100rem;
  padding: 2rem;

  .panel-header-title {
    color: lead-color-level('foreground', 3);
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .panel-header-subtitle {
    color: lead-color-level('foreground', 5);
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.panel-button-container {
  margin-top: 2rem;
  text-align: right;

  .button {
    &:last-child {
      margin-right: 0;
    }
  }
}

.panel-narrow {
  max-width: 50rem;
  padding: 2rem 3rem;

  a {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .button {
    &:hover {
      text-decoration: none;
    }
  }

  footer {
    font-size: 1.4rem;
    margin: 2rem 0;
    text-align: center;
  }
}

@media only screen and (min-width: $screen-size-lg * .625) {
  .panel-sign-up,
  .panel-password-reset,
  .panel-sign-in {
    padding: 5rem 6rem;
  }
}

.panel-sign-up,
.panel-password-reset,
.panel-sign-in {
  padding: 2rem 3rem 1rem;

  .forgot-password-link {
    display: block;
    font-size: 1.4rem;
    text-align: right;
  }
}
