.panel {
  &.panel-dashboard-banner {
    padding: 2rem;

    .panel-header-subtitle {
      margin-bottom: 0;
    }

    .button {
      background-image: linear-gradient(lead-color-level('delete', 2), lead-color-level('delete', 2-$button-gradient));
      margin-top: 1.5rem;

      &:hover {
        $color1: lead-color-level('delete', 2-$button-gradient);
        $color2: lead-color-level('delete', 2-2*$button-gradient);
        background-image: linear-gradient($color1, $color2);
      }
    }
  }
}
