.panel {
  background-color: lead-color('menu');
  border-color: lead-color-level('menu', -2);
  border-style: solid;
  border-width: .1rem;
  margin: 2rem auto 0;
  max-width: 70rem;
  padding: 2rem;

  .panel-form-control {
    margin: 1rem 0;
  }

  .row {
    .panel-form-control {
      margin-bottom: 0;
    }
  }

  .panel-button-container {
    margin-top: 2rem;
    text-align: right;

    .button {
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .panel-header-title {
    color: lead-color-level('foreground', 3);
    margin-bottom: 1rem;
  }

  .panel-header-subtitle {
    color: lead-color-level('foreground', 5);
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.panel-narrow {
  max-width: 50rem;
  padding: 5rem 6rem;


  [type='radio'] {
    margin: 0 1rem 0 2rem;
  }

  [type='email'],
  [type='password'],
  [type='text'],
  .button {
    width: 100%;
    margin: 0
  }

  a:not(.button) {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  footer {
    font-size: 1.4rem;
    margin: 2rem 0;
    text-align: center;
  }
}

.panel-sign-up,
.panel-password-reset,
.panel-sign-in {
  padding: 5rem 6rem 2rem;

  .forgot-password-link {
    display: block;
    font-size: 1.4rem;
    text-align: right;
  }
}
